# Didattic Material
Modulo0/Dida0/
Modulo1/Dida1/
**/Modulo1/Progetto1/data/*/
!Modulo1/Progetto1/data/final_results
Modulo1/Progetto1/data/data_obs_nlat15_test_new*
#Modulo1/Progetto1/data/binder_history_beta*
#Modulo1/Progetto1/data/nlat15
#Modulo1/Progetto1/data/nlat20
#Modulo1/Progetto1/data/nlat25
#Modulo1/Progetto1/data/nlat30
#Modulo1/Progetto1/data/nlat35
#Modulo1/Progetto1/data/nlat40
#Modulo1/Progetto1/data/nlat45
#Modulo1/Progetto1/data/nlat50
#Modulo1/Progetto1/data/nlat55
#Modulo1/Progetto1/data/nlat60
#Modulo1/Progetto1/data/nlat65
#Modulo1/Progetto1/data/nlat70
#Modulo1/Progetto1/data/nlat75
#Modulo1/Progetto1/data/nlat80
#Modulo1/Progetto1/data/nlat85
#Modulo1/Progetto1/data/nlat90
Modulo1/Code1/Ising/Ising_cython/data/
Modulo1/Code1/Metropolis_Gauss/mGauss_cython/data/
Modulo1/Code1/Metropolis_Gauss/mGauss_fortran/data.dat
Modulo3/Dida3/
Modulo4/Dida4/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
